<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<style media="screen">
     .jumbotron{
			 margin-top: 20px;
			 background-image: url("../static/wl6.jpg");
			 background-size: cover;

			 color: white;

		 }
		</style>
		<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

		<title></title>
	</head>
	<body style="background-image: linear-gradient(to right bottom, #d3d70e, #bbda2c, #a4db42, #8cdc56, #74dc69, #51d782, #2cd097, #00c8a8, #00b7ba, #00a5c4, #0090c4, #157ab9);
	 text-align: center; align:center; background-color:#FCDFFF; background-repeat:no-repeat; ">


									<nav class="navbar navbar-expand-lg navbar-light bg-light">
										      <img src="../static/tag.jpg" alt="Tag" width="48px" height="46px">
													<a class="navbar-brand" href="{{ url_for('home')}}">Fruit Classifier with quality_checker</a>
													<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
													<span class="navbar-toggler-icon"></span>
													</button>

													<div class="collapse navbar-collapse" id="navbarSupportedContent">
													<ul class="navbar-nav mr-auto">
													<li class="nav-item active">
														<a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="https://github.com/Adk2001tech/fruit_classifier-with-quality_checker">Code Link</a>
													</li>
													<li class="nav-item dropdown">
														<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															Connect
														</a>
														<div class="dropdown-menu" aria-labelledby="navbarDropdown">
															<a class="dropdown-item" href="https://www.linkedin.com/in/akhilesh-kapse-a8a606195/">Linkedin</a>
															<a class="dropdown-item" href="https://www.instagram.com/akhilesh.kapse">Instagram</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="https://medium.com/@akhileshkapse">Medium</a>

														</div>
													</li>

													</ul>

													</div>
							     </nav>


    {% block content %}

		{% endblock %}



	</body>
</html>
