{% extends "Base.html" %}

{% block content %}


<body style=" text-align: center; align:center; background-color:#FCDFFF;">


<div class="container">

  <div class="jumbotron" >
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This web platform is made using <strong>Flask</strong> API. Serving Predictive model at your fingertips.</p>
    <hr class="my-4">
    <p>Models are trained for predicting any presence of Diabetes or Heart disease in paitent using various <strong>Machine Learning</strong> techniques.</p>
  </div>

</div>


<div class="container">
  <p>
    <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      About Model
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
    <hr>
  <form action="{{url_for("pred")}}"  method="POST" enctype="multipart/form-data">
    <h4>Click below to upload your <strong>image</strong>.</h4>

    <div class="form-group">
    <!-- <img src="../static/upload5.png" alt="img" width="20%" height="5%"> -->
    <label>
    <input type="file" name="file" id="file" style="display:none" accept="image/*" required>
    <img src="../static/upload5.png" width="50%">
    </label>
  </div>

    <div class="container">
      <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1">Make sure you uploaded images related to <strong>1. Apples</strong>, <strong>2. Bananas</strong>, <strong>3. Oranges</strong></label>
    </div>

    </div>
  <br>
    <input type="submit" class="btn btn-outline-success" name="Submit and predict" value="Submit and Predict">
  </form>
  <br>

</div>


</body>
{% endblock %}
